<% if @category.errors.any? %>
        <div id="error_explanation">
            <h3><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h3>
            <% @category.errors.each do |error| %>
                <p><%= error.full_message %>!</p>
            <% end %>
        </div>
<% end %>