<h1>Choose Your Product From Listed Categories</h1>

<% if current_user.admin %>
<h2>Hi</h2>
<% end %>

<ol>
    <% @categories.each do |category| %>
        <li>
            <strong><%= link_to category.title, category_products_path(category) %></strong>(<%= category.products.length %> products)
        </li>
    <% end %>
</ol>