<h1>Choose Your Product From Listed Categories</h1>

<ol>
<% @categories.each do |category| %>
    <li><strong><%= category.title %></strong>(<%= category.products.length %> products)</li>
<% end %>
</ol>