<div style="text-align:center;background-color:#eeeeee">
<h1>Create new product for <%= @category.title %> category.</h1>

<%= render partial: "users/errors", locals: {object: @product} %>

<%= form_for([@category, @product]) do |f| %>
    <%= render partial: 'form', locals: {f: f} %>
<% end %>
</div>